<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'board/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datacenter Tests</title>
</head>
<body>
    <h1>{{ datacenter_name }} Tests</h1>
    <form id="search-form">
        <label for="start-date">Start Date:</label>
        <input type="date" id="start-date">
        <label for="end-date">End Date:</label>
        <input type="date" id="end-date">
        <button type="submit">Search</button>
    </form>
    <table id="tests-table">
        <thead>
            <tr>
                <th>Test Time</th>
                <th>Network</th>
                <th>Start Date</th>
                <th>DOI</th>
                <th>FDSN Registry</th>
                <th>StationXML</th>
                <th>EIDA Routing</th>
                <th>Page</th>
                <th>License</th>
                <th>XML DOI Match</th>
            </tr>
        </thead>
        <tbody>
            {% for test in tests %}
            <tr data-network-code="{% if test.fdsn_net is not None %}{{ test.fdsn_net.netcode }}{% elif test.xml_net is not None %}{{ test.xml_net.netcode }}{% else %}{{ test.eidarout_net.netcode }}{% endif %}">
                <td>{{ test.test_time }}</td>
                <td>{{ test.network_code }}</td>
                <td>{{ test.start_date }}</td>
                <td>
                    {% if test.doi %}
                        <a href="https://doi.org/{{ test.doi }}">{{ test.doi }}</a>
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% if test.fdsn_net %}
                        ✅
                    {% else %}
                        ❌
                    {% endif %}
                </td>
                <td>
                    {% if test.xml_net %}
                        ✅
                    {% else %}
                        ❌
                    {% endif %}
                </td>
                <td>
                    {% if test.eidarout_net %}
                        ✅
                    {% else %}
                        ❌
                    {% endif %}
                </td>
                <td>
                    {% if test.page_works is not None %}
                        {% if test.page_works %}
                            ✅
                        {% else %}
                            ❌
                        {% endif %}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% if test.has_license is not None %}
                        {% if test.has_license %}
                            ✅
                        {% else %}
                            ❌
                        {% endif %}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% if test.xml_doi_match is not None %}
                        {% if test.xml_doi_match %}
                            ✅
                        {% else %}
                            ❌
                        {% endif %}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

<script>
    document.getElementById('search-form').addEventListener('submit', function(event) {
        event.preventDefault();
        let startDate = document.getElementById('start-date').value;
        let endDate = document.getElementById('end-date').value;
        let options = {
            year: 'numeric',
            month: 'long',
            day: 'numeric',
            hour: 'numeric',
            minute: 'numeric',
            hour12: true
        };

        fetch('/board/search_tests/?datacenter={{ datacenter_name }}' + '&start=' + startDate + '&end=' + endDate)
            .then(response => response.json())
            .then(data => {
                // Clear existing table rows
                let tableBody = document.querySelector('#tests-table tbody');
                tableBody.innerHTML = '';

                // Populate table with new data
                data.tests.forEach(test => {
                    let row = document.createElement('tr');
                    row.innerHTML = `
                        <td>${(new Date(test.test_time)).toLocaleString(undefined, options)}</td>
                        <td>${test.network_code}</td>
                        <td>${test.start_date}</td>
                        <td>${test.doi ? `<a href="https://doi.org/${test.doi}">${test.doi}</a>` : '-'}</td>
                        <td>${test.fdsn_net ? '✅' : '❌'}</td>
                        <td>${test.xml_net ? '✅' : '❌'}</td>
                        <td>${test.eidarout_net ? '✅' : '❌'}</td>
                        <td>${test.page_works !== null ? (test.page_works ? '✅' : '❌') : '-'}</td>
                        <td>${test.has_license !== null ? (test.has_license ? '✅' : '❌') : '-'}</td>
                        <td>${test.xml_doi_match !== null ? (test.xml_doi_match ? '✅' : '❌') : '-'}</td>
                    `;
                    tableBody.appendChild(row);
                });
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });
</script>
</body>
</html>
