<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'board/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Networks Tests Board</title>
</head>
<body>
    <h1>Latest Tests</h1>
    <form id="search-form">
        <fieldset>
            <legend>Datacenters:</legend>
            <label for="all-radio">
                <input type="radio" id="all-radio" name="datacenter-filter" value="all" checked> All
            </label>
            <label for="eida-radio">
                <input type="radio" id="eida-radio" name="datacenter-filter" value="eida"> EIDA
            </label>
            <label for="non-eida-radio">
                <input type="radio" id="non-eida-radio" name="datacenter-filter" value="non-eida"> Non-EIDA
            </label>
        </fieldset>
        <label for="search-network">Network:</label>
        <input type="text" id="search-network" placeholder="Enter Network Code">
        <label for="start-date">Start Date:</label>
        <input type="date" id="start-date">
        <label for="end-date">End Date:</label>
        <input type="date" id="end-date">
        <button type="submit">Search</button>
    </form>
    {% if tests %}
    <table id="tests-table">
        <thead>
            <tr>
                <th>Test Time</th>
                <th>Datacenter</th>
                <th>Network</th>
                <th>Start Date</th>
                <th>DOI</th>
                <th>FDSN Registry</th>
                <th>StationXML</th>
                <th>EIDA Routing</th>
                <th>Page</th>
                <th>License</th>
                <th>XML DOI Match</th>
            </tr>
        </thead>
        <tbody>
            {% for test in tests %}
            <tr data-network-code="{% if test.fdsn_net is not None %}{{ test.fdsn_net.netcode }}{% elif test.xml_net is not None %}{{ test.xml_net.netcode }}{% else %}{{ test.eidarout_net.netcode }}{% endif %}">
                <td>{{ test.test_time }}</td>
                <td>
                    {% if test.xml_net %}
                        {{ test.xml_net.datacenter.name }}
                    {% elif test.eidarout_net %}
                        {{ test.eidarout_net.datacenter.name }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% if test.fdsn_net %}
                        {{ test.fdsn_net.netcode }}
                    {% elif test.xml_net %}
                        {{ test.xml_net.netcode }}
                    {% else %}
                        {{ test.eidarout_net.netcode }}
                    {% endif %}
                </td>
                <td>
                    {% if test.fdsn_net %}
                        {{ test.fdsn_net.startdate | date:"Y-m-d" }}
                    {% elif test.xml_net %}
                        {{ test.xml_net.startdate | date:"Y-m-d" }}
                    {% else %}
                        {{ test.eidarout_net.startdate | date:"Y-m-d" }}
                    {% endif %}
                </td>
                <td>
                    {% if test.doi %}
                        <a href="https://doi.org/{{ test.doi }}">{{ test.doi }}</a>
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% if test.fdsn_net %}
                        ✅
                    {% else %}
                        ❌
                    {% endif %}
                </td>
                <td>
                    {% if test.xml_net %}
                        ✅
                    {% else %}
                        ❌
                    {% endif %}
                </td>
                <td>
                    {% if test.eidarout_net %}
                        ✅
                    {% else %}
                        ❌
                    {% endif %}
                </td>
                <td>
                    {% if test.page_works is not None %}
                        {% if test.page_works %}
                            ✅
                        {% else %}
                            ❌
                        {% endif %}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% if test.has_license is not None %}
                        {% if test.has_license %}
                            ✅
                        {% else %}
                            ❌
                        {% endif %}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% if test.xml_doi_match is not None %}
                        {% if test.xml_doi_match %}
                            ✅
                        {% else %}
                            ❌
                        {% endif %}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No tests have been carried out!</p>
    {% endif %}

<script>
    document.getElementById('search-form').addEventListener('submit', function(event) {
        event.preventDefault();
        let datacenterFilter = document.querySelector('input[name="datacenter-filter"]:checked').value;
        let networkCode = document.getElementById('search-network').value.toUpperCase();
        let startDate = document.getElementById('start-date').value;
        let endDate = document.getElementById('end-date').value;
        let options = {
            year: 'numeric',
            month: 'long',
            day: 'numeric',
            hour: 'numeric',
            minute: 'numeric',
            hour12: true
        };

        fetch(`/board/search_tests/?datacenters=${datacenterFilter}&network=${networkCode}&start=${startDate}&end=${endDate}`)
            .then(response => response.json())
            .then(data => {
                // Clear existing table rows
                let tableBody = document.querySelector('#tests-table tbody');
                tableBody.innerHTML = '';

                // Populate table with new data
                data.tests.forEach(test => {
                    let row = document.createElement('tr');
                    row.innerHTML = `
                        <td>${(new Date(test.test_time)).toLocaleString(undefined, options)}</td>
                        <td>${test.datacenter}</td>
                        <td>${test.network_code}</td>
                        <td>${test.start_date}</td>
                        <td>${test.doi ? `<a href="https://doi.org/${test.doi}">${test.doi}</a>` : '-'}</td>
                        <td>${test.fdsn_net ? '✅' : '❌'}</td>
                        <td>${test.xml_net ? '✅' : '❌'}</td>
                        <td>${test.eidarout_net ? '✅' : '❌'}</td>
                        <td>${test.page_works !== null ? (test.page_works ? '✅' : '❌') : '-'}</td>
                        <td>${test.has_license !== null ? (test.has_license ? '✅' : '❌') : '-'}</td>
                        <td>${test.xml_doi_match !== null ? (test.xml_doi_match ? '✅' : '❌') : '-'}</td>
                    `;
                    tableBody.appendChild(row);
                });
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });
</script>
</body>
</html>
