<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'board/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Networks Tests</title>
</head>
<body>
    <h1>Tests</h1>
    <form id="search-form">
        <input type="text" id="search-input" placeholder="Network code">
        <button type="submit">Search</button>
    </form>
    {% if tests %}
    <table id="tests-table">
        <thead>
            <tr>
                <th>Test Time</th>
                <th>Network</th>
                <th>Start Date</th>
                <th>DOI</th>
                <th>Page</th>
                <th>License</th>
                <th>StationXML DOI</th>
                <th>StationXML Restriction</th>
            </tr>
        </thead>
        <tbody>
            {% for test in tests %}
            <tr data-network-code="{{ test.network.code }}">
                <td>{{ test.test_time }}</td>
                <td>{{ test.network.code }}</td>
                <td>{{ test.network.startdate }}</td>
                <td>
                    {% if test.doi %}
                        <a href="https://doi.org/{{ test.doi }}">{{ test.doi }}</a>
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% if test.page_works is not None %}
                        {% if test.page_works %}
                            ✅
                        {% else %}
                            ❌
                        {% endif %}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% if test.has_license is not None %}
                        {% if test.has_license %}
                            ✅
                        {% else %}
                            ❌
                        {% endif %}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% if test.xml_doi_match is not None %}
                        {% if test.xml_doi_match %}
                            ✅
                        {% else %}
                            ❌
                        {% endif %}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% if test.xml_restriction_match is not None %}
                        {% if test.xml_restriction_match %}
                            ✅
                        {% else %}
                            ❌
                        {% endif %}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No tests have been carried out!</p>
    {% endif %}

<script>
    document.getElementById('search-form').addEventListener('submit', function(event) {
        event.preventDefault();
        let searchTerm = document.getElementById('search-input').value;
        let rows = document.querySelectorAll('#tests-table tbody tr');
        rows.forEach(function(row) {
            let networkCode = row.getAttribute('data-network-code');
            if (networkCode.toLowerCase() == searchTerm.toLowerCase()) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    });
</script>
</body>
</html>
