<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'board/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Runs</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
        }

        fieldset {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <h1>Available Test Runs</h1>
    <fieldset>
        <legend>Datacenters:</legend>
        <label for="all-radio">
            <input type="radio" id="all-radio" name="filter" value="all" checked> All
        </label>
        <label for="eida-radio">
            <input type="radio" id="eida-radio" name="filter" value="eida"> EIDA
        </label>
        <label for="non-eida-radio">
            <input type="radio" id="non-eida-radio" name="filter" value="non-eida"> Non-EIDA
        </label>
    </fieldset>
    <table>
        <thead>
            <tr>
                <th>Test Run Time</th>
                <th>Networks (#)</th>
                <th>Exists in FDSN Registry (%)</th>
                <th>Has StationXML Registry (%)</th>
                <th>Exists in EIDA Routing (%)</th>
                <th>Page Test (%)</th>
                <th>License Test (%)</th>
                <th>XML DOI Match Test (%)</th>
            </tr>
        </thead>
        <tbody id="test-runs-body">
            {% for test_time in unique_test_times %}
            <tr data-filter="{{ test_time.filter_type }}">
                <td>{{ test_time.test_time }}</td>
                <td>{{ test_time.count }}</td>
                <td>{{ test_time.null_fdsn_net_percentage|floatformat:2 }}</td>
                <td>{{ test_time.null_xml_net_percentage|floatformat:2 }}</td>
                <td>{{ test_time.null_eidarout_net_percentage|floatformat:2 }}</td>
                <td>{{ test_time.true_page_percentage|floatformat:2 }}</td>
                <td>{{ test_time.true_license_percentage|floatformat:2 }}</td>
                <td>{{ test_time.true_xml_doi_match_percentage|floatformat:2 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

<script src="{% static 'board/test_runs.js' %}"></script>
</body>
</html>
